
name: CI
env:
  MONGO_USER: "root"
  MONGO_PASSWORD: "root"
  MONGO_HOST: "localhost"
  MONGO_PORT: 27017
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
         
      - name: Start containers
        run: docker-compose -f "tests/docker-compose.yml" up -d

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run test suite
        run: |
          python -m pytest -v
